
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Simulation/Views/Shared/_LayoutPage_Simulation.cshtml";
}

<div ui-view>
    <div class="loader">
        <div class="loader-text">Loading...</div>
        <div class="loader-dot">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>
</div>


